{{#if user}}



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto" align="left">
       <a href="/sectors?id_adviser={{user.id_adviser}}&id_case={{id_case}}"><i class="fa-solid fa-arrow-left-long" style="margin-left: 0;"></i>Volver a Recintos</a>
      <div class="card text-center">
        <div class="card-header" align="left">
          <h4>Daños en <b>{{sector_name.sector_name}}</b></h4>

       
        </div>
        <div class="card-body" id="ttk">
          
            <table class="table"  id="table">
              <thead>
                <tr align="center">
                      <th><i class="fas fa-bolt"></i></th><th>N°</th><th>Daño</th><th>Unidad</th> <th>Cantidad</th><th>Fotos</th>  
                </tr>
              </thead>
              <tbody>
                {{#damages as |ar|}}
                <tr >   
                    <td> <a href="/delreg?id_c_d_s={{ar.id_c_d_s}}&id_case={{ar.id_case}}&id_sector={{ar.id_sector}}"><i class="fa-solid fa-trash-can"></i></a></td>         
                    <td>{{sum @key 1}}</td>
                    <td>{{ar.damage_name}}</td>
                    <td>{{ar.damage_unit}}</td>
                    <td>{{ar.damage_size}}</td>
                     
                  <td>
                    
                      <div class="galeria">
                          
                        {{#if damage_image1}}                 
                        <img src="/thumb_{{damage_image1}}" data-full-image="/{{damage_image1}}" alt="Imagen 1" class="miniatura" id="imagebox1">
                        {{/if}}
                        {{#if damage_image2}}
                        <img src="/thumb_{{damage_image2}}" data-full-image="/{{damage_image2}}" alt="Imagen 2" class="miniatura" id="imagebox2">                        
                        {{/if}}
                        {{#if damage_image3}}
                        <img src="/thumb_{{damage_image3}}" data-full-image="/{{damage_image3}}" alt="Imagen 3" class="miniatura" id="imagebox3">
                        {{/if}}
                        <!-- Añade más imágenes según sea necesario -->

                      </div>
                  </td>
                </tr>
               {{/damages}}
                 
              </tbody>
             
            </table>  
            <button class="btn btn-success btn-block" id="toggleButton">Agregar Daños</button>
            <br/> 
            <div id="imagenCompletaContenedor" class="imagen-completa-contenedor" style="display: none;">
            
            <img src="" id="imagenCompleta" class="imagen-completa">

          </div>
          
          <br/>
           <div id="form" style="display:none;">  
            
            <h5 style="text-align: left;">Añadir nuevo registro</h5>
            <table class="table" style="text-align: center;" > 
              <thead>

              </thead>
              <tbody style="text-align: center;">
                              
                  <form action="/damages" method="POST" enctype="multipart/form-data">
                      <tr>                                
                          <td><select class="form-select" aria-label=".form-select-lg example" name="id_damage">
                          {{#each defaultDamages}}{{this.id_damage}}<option value="{{this.id_damage}}"  selected="true">{{this.damage_name}} ({{this.damage_unit}})</option>{{/each}}
                          </select></td>
                      </tr>
                      <tr>                                
                          <td><input type="Number" class="form-control" value="0" id="damage_size" name="damage_size"></td>
                      </tr>
                        <tr>
                          <td><label for="files" class="form-control" style="margin-bottom: -34px; "><i class="fa-solid fa-image" ></i></label>
                          <input id='files' type="file" class="form-control" style="visibility:hidden;" name="image" accept="image/*"></td>
                        </tr>
                        <tr>
                          <td><label for="files1" class="form-control" style="margin-bottom: -34px; "><i class="fa-solid fa-image" ></i></label>
                          <input id='files1'  class="form-control" type="file" style="visibility:hidden;" name="image1" accept="image/*"></td>
                        </tr>  
                        <tr>                 
                          <td><label for="files2" class="form-control" style="margin-bottom: -34px; "><i class="fa-solid fa-image" ></i></label>
                          <input id='files2'  class="form-control"  type="file" style="visibility:hidden;" name="image2" accept="image/*"></td>
                        </tr>
                        <tr>
                          <td><input type="hidden" name="id_case" id="id_case" value="{{id_case}}">

                          <input type="hidden" name="id_c_d_s" id="id_c_d_s" value="{{id_c_d_s}}">

                          <input type="hidden"  name="id_sector"  id="id_sector" value="{{id_sector}}">
                          <button class="btn btn-success btn-block" type="submit" id="upload" disabled><i class="fa-solid fa-check"></i></button></td> 
                        </tr>
                      
                  </form>
                 </div>
              </tbody>

            </table>    
            






 <div class="container">
         
         
         
      </div>






                 
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
{{/if}}
