{{#if user}}

<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <div class="card text-center">
        <div class="card-header" align="left">
          <h4>Daños en <b>{{sname}}</b></h4>

       
        </div>
        <div class="card-body" id="ttk">
          
            <table class="table"  id="table">
              <thead>
                <tr align="center">
                      <th><i class="fas fa-bolt"></i></th><th>N°</th><th>Daño</th><th>Unidad</th> <th>Cantidad</th><th>Fotos</th>  
                </tr>
              </thead>
              <tbody>
                {{#damages as |ar|}}
                <tr >   
                    <td><a href="/sectors/?id_case={{ar.id_case}}&id_sector={{ar.id_sector}}"><i class="fas fa-edit"></i></a></td>         
                    <td>{{sum @key 1}}</td><td>{{ar.damage_name}}</td><td>{{ar.damage_unit}}</td> <td>{{ar.damage_size}}</td><td><a href="">Fotos</a></td><td>{{ar.shs}}</td>
                </tr>
                {{/damages}}
                <tr>
                 <form action="/signup" method="POST"></form>
                    <td colspan="2"><a href="" onclick="bringForm();"><i class="fa-solid fa-plus"></i></a></td> 
                    <td>
                    <select class="form-select" aria-label=".form-select-lg example" id="cap">
                    {{#each defaultDamages}}<option value="{{this.id_damage}}" selected="true">{{this.damage_name}}</option>{{/each}}
                    </select></td> 
                    <td><select class="form-select" aria-label=".form-select-lg example">
                    {{#each defaultDamageunits}}<option value="{{this.damage_unit}}" selected="true" >{{this.damage_unit}}</option>{{/each}}
                    </select></td>
                     <td><input type="Number" id="unit"></td>
                     <td>
                      <label for="photo">Foto</label>
                    <input class="form-control" type="file" name="photo" id="photo" image />
                    </td>
                  </form>
                  </tr>
              </tbody>
             
            </table>              
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
{{/if}}
